@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');  /*  font do cabeçalho  */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap'); /*  font do conteudo  */ 

body {
    font-family:'Tilt Warp', cursive;;
    padding: 0;
    margin: 0;
    background-image: url('https://img.freepik.com/vetores-gratis/vetor-de-ilustracao-de-fundo-verde-de-conexao-em-todo-o-mundo_53876-61767.jpg?w=360');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

header {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    border-bottom: 2px solid red;
    padding: 5px;
    color: rgb(255, 0, 0);
    font-size: 20px;
}

h1 {
    text-align: center;
}

span {
    color: rgb(255, 255, 255);
}


#links {
    margin-bottom: 0px;
    padding: 0px;
}

#links a {
    text-decoration: none; 
    padding: 5px;
    border-bottom: 2px solid red;
    margin-left: 15px;
    color: rgb(255, 255, 255);
    transition: .5s;
}

#links a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

#container-Formulario {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px black;
}

#formularo {
    columns: 2;
    padding: 10px;
}

input {
    text-align: center;
    padding: 13px;
    width: 150%;
    margin-left: 27%;
    font-size: 20px;   
}

input:focus {
    outline: none;
}

#url-filmes {
    margin-top: 10px;
}

#butão {
    border: none;
    font-size: 18px;
    background-color: rgb(0, 117, 98);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    transition: .5s;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-left: 14%;
}

#butão:hover {
    background-color: rgb(0, 104, 86);
}

#container-Filmes {
    width: 90%;
    margin-top: 10px;
    padding: 10px;
}

#row {
    text-align: center;
    margin-left: 73px;
}

.imgFilmes {
    display: inline-block;
}


img {
    text-align: center;
    max-width: 100%;
    width: 170px;
    height: 250px;
    object-fit: cover;
    padding: 10px;
}

