@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #d2b48c;
    text-align: center;
    color: rgb(255, 255, 255);
}

section {
    background-color: white;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
    margin: auto;
}

div#msg {
    color: black;
    font-size: 1.5em;
    padding-top: 10px;
    font-weight: bold;
}

section img {   
    position: relative;
    bottom: 10px;
    display: block;
    margin: auto;
    padding-bottom: 80px;
    width: 70%;
}

