@charset "UTF-8";

body {
    background-color: rgb(57, 57, 139);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10px;
}

header, footer {
    text-align: center;
}

section {
    width: 500px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
}

